In [ ]:
PANDAS

In [5]:
#importing CSV file
data= pd.read_csv("C:/users/varty/downloads/Vartya.csv")
print(data)

      Index      Customer Id First Name   Last Name                   Company  \
0         1  EB54EF1154C3A78    Heather    Callahan              Mosley-David
1         2  10dAcafEBbA5FcA   Kristina     Ferrell  Horn, Shepard and Watson
2         3  67DAB15Ebe4BE4a     Briana    Andersen               Irwin-Oneal
3         4  6d350C5E5eDB4EE      Patty       Ponce          Richardson Group
4         5  5820deAdCF23EFe   Kathleen   Mccormick              Carson-Burch
...     ...              ...        ...         ...                       ...
9995   9996  DD0caa06ebf217c     Meghan       Cline            Richardson LLC
9996   9997  C1C62ff90D0AfED   Jeremiah        Pena               Hodge-Nixon
9997   9998  2EfAa6Fe435A7DA      Peggy         Key                  Vang LLC
9998   9999  5dB06C3Fab5CCCb       Evan    Humphrey                 Gould Ltd
9999  10000  9903e8fF4D8Ff0F    Melissa  Montgomery              Burns-Holden

                  City                       Country                Phone 1  \
0     Lake Jeffborough                        Norway           043-797-5229
1           Aaronville                       Andorra           932-062-1802
2          East Jordan                         Nepal             8352752061
3     East Kristintown      Northern Mariana Islands           302.398.3833
4          Andresmouth                         Macao  001-184-153-9683x1497
...                ...                           ...                    ...
9995        Petersport                 Cote d'Ivoire   001-270-136-4738x419
9996        Briggsport                       Namibia   +1-531-494-7645x4844
9997    West Joyceport  United States Virgin Islands     520.109.2482x26052
9998    Camachochester                         Niger       001-465-242-9979
9999        Sparkstown                       Tunisia  +1-889-682-9490x65400

                    Phone 2                                 Email  \
0              915.112.1727          urangel@espinoza-francis.net
1        (209)172-7124x3651               xreese@hall-donovan.com
2             (567)135-1918         haleybraun@blevins-sexton.com
3          196-189-7767x770                  hohailey@anthony.com
4          552.051.2979x342      alvaradojesse@rangel-shields.com
...                     ...                                   ...
9995   001-349-692-1755x055             nicolasandrade@bates.info
9996  001-295-324-5502x5411                      tracy68@wade.com
9997  +1-602-934-5901x95106    mclaughlinjulia@barnett-dorsey.com
9998   001-639-955-2116x751  velazquezjessica@villegas-wilcox.com
9999     423.632.2539x98740               ngallagher@martinez.com

     Subscription Date                        Website
0           2020-08-26        http://www.escobar.org/
1           2020-04-27       https://tyler-pugh.info/
2           2022-03-22     https://www.mack-bell.net/
3           2020-07-02  https://delacruz-freeman.org/
4           2021-01-17            https://welch.info/
...                ...                            ...
9995        2022-04-27       http://thomas-ramos.com/
9996        2022-01-17      https://www.campbell.com/
9997        2022-01-13   http://www.george-scott.com/
9998        2020-04-14        https://www.payne.info/
9999        2020-06-27              http://nixon.net/

[10000 rows x 12 columns]

In [48]:
data.head(10)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
1,2,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,2020-04-27,https://tyler-pugh.info/
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
3,4,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,2020-07-02,https://delacruz-freeman.org/
4,5,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,2021-01-17,https://welch.info/
5,6,E1CDEaC63fDd5aA,Trevor,Lee,Maddox Group,Lake Madelineburgh,Senegal,+1-134-348-0265x9132,+1-313-882-4167,briangriffin@chang.org,2021-08-13,https://www.roberts.com/
6,7,3e1187fCcebC8d2,Mathew,Hoffman,"Bender, Pittman and Kidd",West Ralph,Uzbekistan,842.380.1168,(178)178-5447x32603,bauergerald@morrison.com,2020-04-09,http://www.holt.com/
7,8,47C5cEE243c9A7b,Glenn,Wiggins,Glenn-Harvey,Ambershire,Falkland Islands (Malvinas),245-207-5608x563,8806867785,changkellie@howell.com,2021-04-02,http://carlson.com/
8,9,cacaD68a5e4BF4b,Bruce,Payne,"Arroyo, Cain and Hudson",Barrettview,Zimbabwe,391.313.4649x42910,166.227.5055,mayerjerome@hurst-graham.net,2020-11-26,https://www.glenn-snow.com/
9,10,436b9c41cfb1fa3,Brendan,Franco,"Schaefer, Blair and Shaffer",New Rickey,Ukraine,001-315-224-3556,254-621-7128x7573,kentryan@stone-oneill.com,2021-06-29,http://ruiz.com/

In [52]:
data.tail(10)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
9990,9991,4eb63eAE66E3CCC,Todd,Pierce,"Walters, Mckenzie and Sanford",South Marcia,Christmas Island,832.525.9357,001-132-173-3337x846,cody03@sullivan.info,2020-08-01,http://pearson-johnston.com/
9991,9992,a8eC9494e9CCb46,Christy,Wilkinson,"Gray, Ponce and Hayden",South Jillian,Austria,342-307-9452,001-070-026-2258x071,amandaharrell@ballard.biz,2021-10-22,http://petty-acosta.com/
9992,9993,bdbA1F0053EDA7A,Jennifer,Haynes,Alexander-Bass,Mcconnellland,Cayman Islands,001-346-519-8104,538.504.5143,jbeard@oneal.org,2020-12-19,http://brandt-gill.net/
9993,9994,5B8Ffc59EeBd87D,Bernard,Wolf,Huynh-Best,Port Barryborough,Bhutan,977.287.5016x4827,337-342-2622x707,rmorse@lane.com,2021-04-29,http://www.sweeney.com/
9994,9995,D7E40cCBde64d59,Kim,Yoder,Carpenter-Fleming,Lake Lawrenceview,Armenia,667.966.2755x2648,001-662-149-5921x60026,jefferypatrick@taylor.com,2022-03-04,https://butler-gibbs.com/
9995,9996,DD0caa06ebf217c,Meghan,Cline,Richardson LLC,Petersport,Cote d'Ivoire,001-270-136-4738x419,001-349-692-1755x055,nicolasandrade@bates.info,2022-04-27,http://thomas-ramos.com/
9996,9997,C1C62ff90D0AfED,Jeremiah,Pena,Hodge-Nixon,Briggsport,Namibia,+1-531-494-7645x4844,001-295-324-5502x5411,tracy68@wade.com,2022-01-17,https://www.campbell.com/
9997,9998,2EfAa6Fe435A7DA,Peggy,Key,Vang LLC,West Joyceport,United States Virgin Islands,520.109.2482x26052,+1-602-934-5901x95106,mclaughlinjulia@barnett-dorsey.com,2022-01-13,http://www.george-scott.com/
9998,9999,5dB06C3Fab5CCCb,Evan,Humphrey,Gould Ltd,Camachochester,Niger,001-465-242-9979,001-639-955-2116x751,velazquezjessica@villegas-wilcox.com,2020-04-14,https://www.payne.info/
9999,10000,9903e8fF4D8Ff0F,Melissa,Montgomery,Burns-Holden,Sparkstown,Tunisia,+1-889-682-9490x65400,423.632.2539x98740,ngallagher@martinez.com,2020-06-27,http://nixon.net/

In [54]:
# The .describe() method prints the summary of all numeric columns
data.describe()

             Index
count  10000.00000
mean    5000.50000
std     2886.89568
min        1.00000
25%     2500.75000
50%     5000.50000
75%     7500.25000
max    10000.00000

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              10000 non-null  int64
 1   Customer Id        10000 non-null  object
 2   First Name         10000 non-null  object
 3   Last Name          10000 non-null  object
 4   Company            10000 non-null  object
 5   City               10000 non-null  object
 6   Country            10000 non-null  object
 7   Phone 1            10000 non-null  object
 8   Phone 2            10000 non-null  object
 9   Email              10000 non-null  object
 10  Subscription Date  10000 non-null  object
 11  Website            10000 non-null  object
dtypes: int64(1), object(11)
memory usage: 937.6+ KB

In [69]:
print(data.shape)
print(data.shape[0])
print(data.shape[1])

(10000, 12)
10000
12

In [71]:
list(data.columns)

['Index',
 'Customer Id',
 'First Name',
 'Last Name',
 'Company',
 'City',
 'Country',
 'Phone 1',
 'Phone 2',
 'Email',
 'Subscription Date',
 'Website']

In [73]:
data.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [77]:
# checking the null values exits or not
data.isnull()
data.isna()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False

In [79]:
data.isnull().head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [81]:
data.isnull().head(9)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False

In [83]:
data.isnull().sum()

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [85]:
data.isna()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False

In [89]:
data['Company']

0                   Mosley-David
1       Horn, Shepard and Watson
2                    Irwin-Oneal
3               Richardson Group
4                   Carson-Burch
                  ...
9995              Richardson LLC
9996                 Hodge-Nixon
9997                    Vang LLC
9998                   Gould Ltd
9999                Burns-Holden
Name: Company, Length: 10000, dtype: object

In [91]:
data['Company'].head(50)

0                    Mosley-David
1        Horn, Shepard and Watson
2                     Irwin-Oneal
3                Richardson Group
4                    Carson-Burch
5                    Maddox Group
6        Bender, Pittman and Kidd
7                    Glenn-Harvey
8         Arroyo, Cain and Hudson
9     Schaefer, Blair and Shaffer
10                      Lopez Inc
11      Dudley, Coleman and Green
12                Harrell-Donovan
13        Schaefer, Chung and Lin
14      Mack, Garcia and Schaefer
15                      Downs PLC
16        Castro, Haney and Hanna
17                   Tyler-Levine
18                    Liu-Douglas
19                    Hicks-Duran
20       Weiss, King and Morrison
21                 Becker-Woodard
22                  Zavala-Garcia
23                 Munoz and Sons
24                     Morton Ltd
25                     Hart-Klein
26                    Todd-Acosta
27       Lamb, Little and Frazier
28                     Cooper Ltd
29                    Hodge-Potts
30                   Gray-Collier
31        Serrano, Carr and Hurst
32               Stafford-Shannon
33                   Griffin-Ware
34                Daniel and Sons
35                   Barron Group
36                    Fuentes LLC
37                 Watkins-Romero
38                   Randolph LLC
39                    Pearson PLC
40                     Guerra LLC
41                Robles and Sons
42               Delacruz-Rosario
43                  Barrera Group
44                  Beasley-Perez
45               Herrera and Sons
46                      Cline Inc
47        Riggs, Pena and Hubbard
48                    Harrell Ltd
49                  Harrell-Frank
Name: Company, dtype: object

In [93]:
data[['Index' , 'First Name' , 'Company']]

      Index First Name                   Company
0         1    Heather              Mosley-David
1         2   Kristina  Horn, Shepard and Watson
2         3     Briana               Irwin-Oneal
3         4      Patty          Richardson Group
4         5   Kathleen              Carson-Burch
...     ...        ...                       ...
9995   9996     Meghan            Richardson LLC
9996   9997   Jeremiah               Hodge-Nixon
9997   9998      Peggy                  Vang LLC
9998   9999       Evan                 Gould Ltd
9999  10000    Melissa              Burns-Holden

[10000 rows x 3 columns]

In [95]:
data[['Index' , 'First Name' , 'Company']].tail()

      Index First Name         Company
9995   9996     Meghan  Richardson LLC
9996   9997   Jeremiah     Hodge-Nixon
9997   9998      Peggy        Vang LLC
9998   9999       Evan       Gould Ltd
9999  10000    Melissa    Burns-Holden

In [99]:
data[data.index == 888]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
888,889,df1d9e4BDC126d1,Sydney,Singh,Maxwell Inc,Eileenmouth,France,009-677-5689x250,+1-541-183-2145x803,dominique06@raymond.biz,2021-09-13,http://walsh-dennis.org/

In [101]:
data[data.index.isin(range(585,996))]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
585,586,42BbB3D5efDb7F3,Jeanne,Pope,Hinton-Mullins,Simpsonland,Tonga,+1-441-442-5305x49868,+1-516-060-8430x97851,timothy52@hahn-gonzalez.net,2020-10-08,https://strong.biz/
586,587,eEa930EB6Ea5573,Leslie,Farrell,Gardner and Sons,Lake Jodytown,Zambia,+1-432-319-6135x310,530-015-9497x0407,psutton@thornton-palmer.info,2020-11-07,https://www.kaiser.com/
587,588,F68078d5c9c908c,Anita,Banks,"Proctor, Edwards and Schaefer",Lake Robinberg,Moldova,(797)436-0495x973,001-325-431-2689x6612,toni29@figueroa.net,2021-02-12,https://www.dalton.info/
588,589,3DDF2D6a3AA02e8,Terrance,Hansen,"Hayden, Cobb and Nelson",Ellistown,Georgia,316-564-4762x2153,305-274-3346,gbarajas@bolton.com,2021-04-14,http://www.gutierrez.org/
589,590,2784BbCb568e2Ac,Kerri,Clayton,Burch-Glass,Port Priscilla,Egypt,+1-941-899-2480x85112,001-132-770-3273x1125,tamara83@bentley.com,2021-12-31,http://glenn.net/
...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,5193CdE8DDEBE31,Darius,Collier,Mullen and Sons,Sotomouth,Gabon,001-114-652-1153,121.092.6078,bblack@hancock-haley.com,2021-11-21,http://www.walters.com/
992,993,c0Cef0B6D7dbBf6,Monica,Ramsey,Rogers Inc,Jacobsonland,Uganda,(596)548-0115x457,857.160.8353,vazquezkerri@hays.com,2020-08-20,http://sims.com/
993,994,28AdFC167EA26B1,Ricardo,Hanna,Rich-Jones,South Jesus,Serbia,657.437.9532,786-769-6578x827,kendrablevins@dominguez-watts.com,2020-05-08,https://www.barton.net/
994,995,b353bE2e6ADBb2E,Barry,Paul,David LLC,New Stacie,Greenland,(291)508-7938,253.233.0136x629,dylan41@floyd-webster.info,2021-01-29,http://www.merritt-jensen.com/
995,996,a0e3B57D14C2F30,Aaron,Boyer,Burnett-Hinton,South Traci,Barbados,001-795-383-7996,531-635-2300x551,rivaseric@le.com,2021-04-29,http://www.tyler.com/

In [ ]:
# using these 'loc[]' and 'iloc[]' we can fetch the rows and coloumns

In [103]:
# loc[] - To etch the rows
data.loc[51]

Index                                            52
Customer Id                         a0eb3D0bDcfB8Bd
First Name                                   Judith
Last Name                                   Fischer
Company                    Oconnor, Glover and Park
City                                    Lake Joshua
Country                                 Isle of Man
Phone 1                                  6570280667
Phone 2                        001-929-759-1013x923
Email                natasha83@delacruz-edwards.com
Subscription Date                        2020-01-26
Website                        https://spencer.com/
Name: 51, dtype: object

In [107]:
data.loc[2:51]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
3,4,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,2020-07-02,https://delacruz-freeman.org/
4,5,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,2021-01-17,https://welch.info/
5,6,E1CDEaC63fDd5aA,Trevor,Lee,Maddox Group,Lake Madelineburgh,Senegal,+1-134-348-0265x9132,+1-313-882-4167,briangriffin@chang.org,2021-08-13,https://www.roberts.com/
6,7,3e1187fCcebC8d2,Mathew,Hoffman,"Bender, Pittman and Kidd",West Ralph,Uzbekistan,842.380.1168,(178)178-5447x32603,bauergerald@morrison.com,2020-04-09,http://www.holt.com/
7,8,47C5cEE243c9A7b,Glenn,Wiggins,Glenn-Harvey,Ambershire,Falkland Islands (Malvinas),245-207-5608x563,8806867785,changkellie@howell.com,2021-04-02,http://carlson.com/
8,9,cacaD68a5e4BF4b,Bruce,Payne,"Arroyo, Cain and Hudson",Barrettview,Zimbabwe,391.313.4649x42910,166.227.5055,mayerjerome@hurst-graham.net,2020-11-26,https://www.glenn-snow.com/
9,10,436b9c41cfb1fa3,Brendan,Franco,"Schaefer, Blair and Shaffer",New Rickey,Ukraine,001-315-224-3556,254-621-7128x7573,kentryan@stone-oneill.com,2021-06-29,http://ruiz.com/
10,11,9653ca648e2E414,Martin,Hawkins,Lopez Inc,Lake Bobton,Mauritania,001-402-567-1320,732-908-7945,danielbuckley@hatfield.info,2021-05-02,https://www.newman.com/
11,12,e586A2D67bcdB48,Sara,Shaffer,"Dudley, Coleman and Green",Orrland,Gambia,4229986278,001-028-824-7381x56737,gabrielaleach@rose.net,2021-04-07,https://www.hoffman-rubio.com/
12,13,c388ECa44FFe37c,Dave,Moran,Harrell-Donovan,South Elizabeth,Sweden,575.006.7250x9748,262-029-1096,cartermallory@chung.com,2020-02-28,https://hinton.info/
13,14,f8dddbf9CD6FF92,Glen,Hammond,"Schaefer, Chung and Lin",Pamelatown,Netherlands,001-887-543-3745x055,001-955-888-1987x09071,lweeks@hooper.org,2022-03-03,https://bush-huynh.org/
14,15,86Df56BFCc0a7CA,Catherine,Blackwell,"Mack, Garcia and Schaefer",Lake Seth,Dominican Republic,001-915-961-8896x5744,(310)185-3032x0974,calhounalisha@hardin.net,2021-03-30,https://barker-bishop.info/
15,16,2cfDE68A372cC7A,Larry,Newton,Downs PLC,Mannstad,Belize,(216)514-1412,001-449-365-5864x147,ypayne@gaines.biz,2020-08-09,https://figueroa.com/
16,17,14CBc0BDfbE6FEA,Danny,Archer,"Castro, Haney and Hanna",East Diamond,Cook Islands,8416559700,001-212-234-3412x91164,nwu@brady-chen.com,2021-05-21,http://www.callahan.net/
17,18,48b3ACBfD6A5cdC,Kim,Griffin,Tyler-Levine,New Gwendolyn,Saint Kitts and Nevis,597.367.9499x5429,506.141.4174x6326,harold11@mullen.org,2021-06-02,http://www.mclaughlin-hubbard.net/
18,19,dB52fA7Bec665C1,Kristin,Valencia,Liu-Douglas,Martinezstad,French Southern Territories,443-671-1725x7073,6244311825,andrewsanders@marks.com,2021-04-17,http://www.myers.com/
19,20,e99DcfDaDac8a06,Hannah,Ramsey,Hicks-Duran,Port Adrianport,Singapore,(822)795-8754x29384,(769)638-7026x967,amy99@booker.com,2020-12-30,http://www.larsen-floyd.biz/
20,21,28D7BcC82d076F2,Barry,Meadows,"Weiss, King and Morrison",Wallston,Congo,629.168.7457,001-092-440-6540,basschristian@faulkner.com,2020-01-01,https://chavez.com/
21,22,Beb0D2e4BA54a51,Roy,Brock,Becker-Woodard,Port Martha,Zimbabwe,001-102-869-0189x1414,303.040.0780x2768,ldelacruz@spence.com,2021-06-27,https://www.norman.org/
22,23,EFe791B6Ce06A1A,Patricia,Pope,Zavala-Garcia,East Johnnystad,Tonga,775.341.8738x21724,(786)324-4817x9051,hayleyritter@price.net,2020-05-19,http://www.moyer.com/
23,24,Ebe45ac4Ae5e20C,Alan,Stanton,Munoz and Sons,Lake Isaiahview,Costa Rica,(510)542-0174x853,995.008.2375x973,yhebert@hays-rivera.com,2020-01-23,http://young.com/
24,25,E31a9699DF2A0eF,Philip,Flynn,Morton Ltd,West Guy,Oman,881-632-0721x11032,(881)992-9151x74921,austinhobbs@briggs.com,2020-09-05,http://huerta-cordova.info/
25,26,0748BdEFeb4834F,Mackenzie,Williamson,Hart-Klein,New Maxhaven,Saint Helena,+1-605-640-1833x70183,656.931.4990,zramos@haney.org,2020-03-06,http://www.allison-clements.com/
26,27,fEB05baEc5ba41d,Emily,Calderon,Todd-Acosta,Lake Sallyport,Cameroon,038.443.6100,618.908.5890,shelley82@jarvis.com,2021-06-17,http://www.larsen.org/
27,28,b9B3B5f1ba40FD3,Roberta,Walton,"Lamb, Little and Frazier",Campbellshire,Tonga,805-974-3346x026,001-324-540-6599x3227,sharigriffin@cameron.com,2020-11-15,https://quinn.biz/
28,29,Fc0Bb9CEbeE57b0,Steve,Mack,Cooper Ltd,Marilyntown,Panama,(079)726-1523,061.039.5513,rpace@huynh.com,2021-03-01,http://www.macdonald-lyons.com/
29,30,B5e2c7Cc5b2D5C0,Pedro,Jacobson,Hodge-Potts,Port Dariushaven,Guinea,187.217.1436x5325,075.320.9732,emullins@simpson-christensen.com,2021-09-02,http://www.guerra-armstrong.com/
30,31,3D72031D22EB2aC,Daniel,Harper,Gray-Collier,Carolinetown,Micronesia,4779933630,+1-544-607-3630x7852,patricialeach@hernandez.biz,2020-07-06,http://www.barajas-hendrix.com/
31,32,84d3FaE8D176217,Danny,Mayer,"Serrano, Carr and Hurst",West Bernardbury,Niger,+1-232-090-7002x568,(764)539-0967x909,mindy15@fuentes.org,2020-07-15,http://perkins.com/
32,33,942FAAB8898c6Fc,Jasmine,Owens,Stafford-Shannon,New Ross,Bosnia and Herzegovina,(685)119-0956,5024074926,jake39@little.com,2022-01-02,https://mckee-hill.net/
33,34,F0EdAbc86aac953,Ashley,Davies,Griffin-Ware,Lake Caitlynville,Bouvet Island (Bouvetoya),754.390.8594x022,188-155-9696x06994,mhudson@hardin.com,2021-03-09,https://www.bray.com/
34,35,2f4976cc8F8Cf7D,Shawn,Cruz,Daniel and Sons,Cardenasport,Svalbard & Jan Mayen Islands,309-608-9907,(615)894-4814x344,nlane@kane-pennington.com,2022-05-03,https://www.tran.net/
35,36,fDbB79FAB142707,Francis,Hubbard,Barron Group,West Makaylaton,Seychelles,+1-895-654-6918x3859,(182)766-9394x4641,savannah10@simpson.com,2021-03-17,https://www.velazquez-wright.com/
36,37,E75a5870e952cd6,Richard,Bennett,Fuentes LLC,West Tamara,Cote d'Ivoire,795-520-6262x14294,+1-519-673-2725x0502,cristian16@hill-beard.com,2021-01-12,https://www.frederick.com/
37,38,4C8E6AA7Ced5BAF,Vanessa,Hansen,Watkins-Romero,Kerryburgh,Netherlands,+1-134-667-1175x8813,+1-928-497-1358x88633,jasmineaustin@whitehead.info,2020-01-14,https://www.graves.info/
38,39,ec75Fb9C6A0DcF1,Joyce,Foster,Randolph LLC,Nataliestad,Korea,655.928.6486,+1-966-669-6464,samuel97@wyatt.com,2020-10-29,https://www.schmitt.com/
39,40,C2378a0b119b425,Marc,Medina,Pearson PLC,New Petershire,Japan,1874666215,237-063-6496x65292,karlgarrett@fischer.biz,2020-03-02,http://www.nicholson.org/
40,41,53D27CbE3b3CAf7,Darren,Santana,Guerra LLC,Meyerbury,French Southern Territories,+1-145-916-2809x14415,440.474.1607,biancahenry@hernandez.org,2021-06-11,http://www.gates.net/
41,42,3bcBa3CBB7EF52c,Mario,Moreno,Robles and Sons,Cathyview,United States Minor Outlying Islands,001-044-197-2628x678,001-592-920-6308x2332,marisa13@hickman.com,2022-02-12,https://www.gillespie.biz/
42,43,DFcebf7063e11ac,Daniel,Bush,Delacruz-Rosario,West Marthaview,Bouvet Island (Bouvetoya),891.885.1826,309.937.8982x96964,billymorris@lambert-irwin.com,2020-02-13,http://www.zhang.com/
43,44,fdd4F120dFFaaBA,Vanessa,Davenport,Barrera Group,South Brandi,Guinea,014.539.1066x2855,001-586-506-1699x536,barry91@howe.info,2020-05-10,https://www.davenport.com/
44,45,FA9584DEE86bBbE,Donald,Terry,Beasley-Perez,Port Rickeyport,Isle of Man,(381)211-7562x9960,905.051.0894x82461,kdavies@owen-humphrey.info,2021-01-04,http://www.grimes-summers.com/
45,46,fF8bc9C72D6c38b,Jill,Esparza,Herrera and Sons,Hendricksfort,Indonesia,001-218-793-7724x2810,253.141.8420,gregghendricks@conner-weiss.info,2020-09-24,http://harris.net/
46,47,6ADbBf35FBb6ebc,Tyler,Richard,Cline Inc,Serranoland,San Marino,(030)748-4061,(518)939-6401,alfredbradford@perry.com,2022-04-17,https://www.delacruz.com/
47,48,a75eDF85cC17DfB,Sonya,Moore,"Riggs, Pena and Hubbard",New Virginiamouth,Guyana,488.725.7447x7670,001-918-561-3514x2980,ngilmore@bush.net,2021-12-25,https://www.tyler.com/
48,49,E95Ce6e2d241660,Jonathon,Gillespie,Harrell Ltd,West Craig,Sudan,(335)620-5477x4774,353.020.5510,vgilbert@romero.biz,2020-06-23,https://www.long-hickman.com/
49,50,3E4Ac207eAE0d2E,Ryan,Lin,Harrell-Frank,West Nicolas,Thailand,284-076-2518x537,6934137441,dgould@graham-winters.com,2021-10-06,https://johns-sharp.com/
50,51,cFB0d4B976ef0Ca,Joel,Thomas,Lawrence-Robles,Paigeland,Guernsey,001-566-338-3073,7104971640,fsuarez@cooper-montes.biz,2021-10-21,http://mcgrath.org/
51,52,a0eb3D0bDcfB8Bd,Judith,Fischer,"Oconnor, Glover and Park",Lake Joshua,Isle of Man,6570280667,001-929-759-1013x923,natasha83@delacruz-edwards.com,2020-01-26,https://spencer.com/

In [109]:
data.loc[data.City == 'West Ralph']

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
6,7,3e1187fCcebC8d2,Mathew,Hoffman,"Bender, Pittman and Kidd",West Ralph,Uzbekistan,842.380.1168,(178)178-5447x32603,bauergerald@morrison.com,2020-04-09,http://www.holt.com/
5341,5342,c49aAEc99b4FDCb,Javier,Bates,"Guerra, Wolfe and Macias",West Ralph,Hong Kong,+1-351-373-2103x21393,+1-075-590-0412,sean09@gregory-frazier.com,2020-12-23,http://burke.com/

In [122]:
data.loc[data.index < 21]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
1,2,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,2020-04-27,https://tyler-pugh.info/
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
3,4,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,2020-07-02,https://delacruz-freeman.org/
4,5,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,2021-01-17,https://welch.info/
5,6,E1CDEaC63fDd5aA,Trevor,Lee,Maddox Group,Lake Madelineburgh,Senegal,+1-134-348-0265x9132,+1-313-882-4167,briangriffin@chang.org,2021-08-13,https://www.roberts.com/
6,7,3e1187fCcebC8d2,Mathew,Hoffman,"Bender, Pittman and Kidd",West Ralph,Uzbekistan,842.380.1168,(178)178-5447x32603,bauergerald@morrison.com,2020-04-09,http://www.holt.com/
7,8,47C5cEE243c9A7b,Glenn,Wiggins,Glenn-Harvey,Ambershire,Falkland Islands (Malvinas),245-207-5608x563,8806867785,changkellie@howell.com,2021-04-02,http://carlson.com/
8,9,cacaD68a5e4BF4b,Bruce,Payne,"Arroyo, Cain and Hudson",Barrettview,Zimbabwe,391.313.4649x42910,166.227.5055,mayerjerome@hurst-graham.net,2020-11-26,https://www.glenn-snow.com/
9,10,436b9c41cfb1fa3,Brendan,Franco,"Schaefer, Blair and Shaffer",New Rickey,Ukraine,001-315-224-3556,254-621-7128x7573,kentryan@stone-oneill.com,2021-06-29,http://ruiz.com/
10,11,9653ca648e2E414,Martin,Hawkins,Lopez Inc,Lake Bobton,Mauritania,001-402-567-1320,732-908-7945,danielbuckley@hatfield.info,2021-05-02,https://www.newman.com/
11,12,e586A2D67bcdB48,Sara,Shaffer,"Dudley, Coleman and Green",Orrland,Gambia,4229986278,001-028-824-7381x56737,gabrielaleach@rose.net,2021-04-07,https://www.hoffman-rubio.com/
12,13,c388ECa44FFe37c,Dave,Moran,Harrell-Donovan,South Elizabeth,Sweden,575.006.7250x9748,262-029-1096,cartermallory@chung.com,2020-02-28,https://hinton.info/
13,14,f8dddbf9CD6FF92,Glen,Hammond,"Schaefer, Chung and Lin",Pamelatown,Netherlands,001-887-543-3745x055,001-955-888-1987x09071,lweeks@hooper.org,2022-03-03,https://bush-huynh.org/
14,15,86Df56BFCc0a7CA,Catherine,Blackwell,"Mack, Garcia and Schaefer",Lake Seth,Dominican Republic,001-915-961-8896x5744,(310)185-3032x0974,calhounalisha@hardin.net,2021-03-30,https://barker-bishop.info/
15,16,2cfDE68A372cC7A,Larry,Newton,Downs PLC,Mannstad,Belize,(216)514-1412,001-449-365-5864x147,ypayne@gaines.biz,2020-08-09,https://figueroa.com/
16,17,14CBc0BDfbE6FEA,Danny,Archer,"Castro, Haney and Hanna",East Diamond,Cook Islands,8416559700,001-212-234-3412x91164,nwu@brady-chen.com,2021-05-21,http://www.callahan.net/
17,18,48b3ACBfD6A5cdC,Kim,Griffin,Tyler-Levine,New Gwendolyn,Saint Kitts and Nevis,597.367.9499x5429,506.141.4174x6326,harold11@mullen.org,2021-06-02,http://www.mclaughlin-hubbard.net/
18,19,dB52fA7Bec665C1,Kristin,Valencia,Liu-Douglas,Martinezstad,French Southern Territories,443-671-1725x7073,6244311825,andrewsanders@marks.com,2021-04-17,http://www.myers.com/
19,20,e99DcfDaDac8a06,Hannah,Ramsey,Hicks-Duran,Port Adrianport,Singapore,(822)795-8754x29384,(769)638-7026x967,amy99@booker.com,2020-12-30,http://www.larsen-floyd.biz/
20,21,28D7BcC82d076F2,Barry,Meadows,"Weiss, King and Morrison",Wallston,Congo,629.168.7457,001-092-440-6540,basschristian@faulkner.com,2020-01-01,https://chavez.com/

In [126]:
# iloc[] - we can fetch both rows and columns using this method
data.iloc[555] #fetch row

Index                                             556
Customer Id                           7EE3FDFec35EBf2
First Name                                       Leon
Last Name                                       Blair
Company                                Fitzgerald PLC
City                                North Natashafort
Country                                    Luxembourg
Phone 1                              001-091-066-4467
Phone 2                             134.835.0276x0417
Email                   samantha68@noble-townsend.org
Subscription Date                          2022-02-09
Website              http://www.valentine-bowers.com/
Name: 555, dtype: object

In [153]:
data.iloc[9999,4]

'Burns-Holden'

In [155]:
data.iloc[[0,2,3,4]] # fetch the any index, just separate with comma

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
3,4,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,2020-07-02,https://delacruz-freeman.org/
4,5,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,2021-01-17,https://welch.info/

In [37]:
data.iloc[10:50, 2:5] # selecting rows from 10 to 49 and columns from 20 to 49

                      Company               City
10                  Lopez Inc        Lake Bobton
11  Dudley, Coleman and Green            Orrland
12            Harrell-Donovan    South Elizabeth
13    Schaefer, Chung and Lin         Pamelatown
14  Mack, Garcia and Schaefer          Lake Seth
15                  Downs PLC           Mannstad
16    Castro, Haney and Hanna       East Diamond
17               Tyler-Levine      New Gwendolyn
18                Liu-Douglas       Martinezstad
19                Hicks-Duran    Port Adrianport
20   Weiss, King and Morrison           Wallston
21             Becker-Woodard        Port Martha
22              Zavala-Garcia    East Johnnystad
23             Munoz and Sons    Lake Isaiahview
24                 Morton Ltd           West Guy
25                 Hart-Klein       New Maxhaven
26                Todd-Acosta     Lake Sallyport
27   Lamb, Little and Frazier      Campbellshire
28                 Cooper Ltd        Marilyntown
29                Hodge-Potts   Port Dariushaven
30               Gray-Collier       Carolinetown
31    Serrano, Carr and Hurst   West Bernardbury
32           Stafford-Shannon           New Ross
33               Griffin-Ware  Lake Caitlynville
34            Daniel and Sons       Cardenasport
35               Barron Group    West Makaylaton
36                Fuentes LLC        West Tamara
37             Watkins-Romero         Kerryburgh
38               Randolph LLC        Nataliestad
39                Pearson PLC     New Petershire
40                 Guerra LLC          Meyerbury
41            Robles and Sons          Cathyview
42           Delacruz-Rosario    West Marthaview
43              Barrera Group       South Brandi
44              Beasley-Perez    Port Rickeyport
45           Herrera and Sons      Hendricksfort
46                  Cline Inc        Serranoland
47    Riggs, Pena and Hubbard  New Virginiamouth
48                Harrell Ltd         West Craig
49              Harrell-Frank       West Nicolas

#### Cleaning Data using Pandas

In [44]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City'])
data.head()

   Index      Customer Id                   Company              City
0      1  EB54EF1154C3A78              Mosley-David  Lake Jeffborough
1      2  10dAcafEBbA5FcA  Horn, Shepard and Watson        Aaronville
2      3  67DAB15Ebe4BE4a               Irwin-Oneal       East Jordan
3      4  6d350C5E5eDB4EE          Richardson Group  East Kristintown
4      5  5820deAdCF23EFe              Carson-Burch       Andresmouth

In [46]:
# finding the null values and sum them together 
data.isnull().sum()

Index          0
Customer Id    0
Company        0
City           0
dtype: int64

###    Dealing with missing data technique

 ### 1. Dropping missing values

In [54]:
data1 = data.dropna()

In [56]:
# finding the null values after the dropna() method
data1.isnull().sum()

Index          0
Customer Id    0
Company        0
City           0
dtype: int64

In [60]:
data.dropna(inplace=True, axis=0)
print(data.head())
print(data.isnull().sum())

   Index      Customer Id                   Company              City
0      1  EB54EF1154C3A78              Mosley-David  Lake Jeffborough
1      2  10dAcafEBbA5FcA  Horn, Shepard and Watson        Aaronville
2      3  67DAB15Ebe4BE4a               Irwin-Oneal       East Jordan
3      4  6d350C5E5eDB4EE          Richardson Group  East Kristintown
4      5  5820deAdCF23EFe              Carson-Burch       Andresmouth
Index          0
Customer Id    0
Company        0
City           0
dtype: int64

### 2.Replacing missing values

In [102]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City' , 'Phone 1'])
data.head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [106]:
#replacing the NAN value usinf mean()
mean_value = data['Index'].mean()
print(mean_value)

5000.5

In [70]:
data1 = data.fillna(mean_value)

In [80]:
data1.head(15)

    Index      Customer Id                      Company                City
0       1  EB54EF1154C3A78                 Mosley-David    Lake Jeffborough
1       2  10dAcafEBbA5FcA     Horn, Shepard and Watson          Aaronville
2       3  67DAB15Ebe4BE4a                  Irwin-Oneal         East Jordan
3       4  6d350C5E5eDB4EE             Richardson Group    East Kristintown
4       5  5820deAdCF23EFe                 Carson-Burch         Andresmouth
5       6  E1CDEaC63fDd5aA                 Maddox Group  Lake Madelineburgh
6       7  3e1187fCcebC8d2     Bender, Pittman and Kidd          West Ralph
7       8  47C5cEE243c9A7b                 Glenn-Harvey          Ambershire
8       9  cacaD68a5e4BF4b      Arroyo, Cain and Hudson         Barrettview
9      10  436b9c41cfb1fa3  Schaefer, Blair and Shaffer          New Rickey
10     11  9653ca648e2E414                    Lopez Inc         Lake Bobton
11     12  e586A2D67bcdB48    Dudley, Coleman and Green             Orrland
12     13  c388ECa44FFe37c              Harrell-Donovan     South Elizabeth
13     14  f8dddbf9CD6FF92      Schaefer, Chung and Lin          Pamelatown
14     15  86Df56BFCc0a7CA    Mack, Garcia and Schaefer           Lake Seth

In [98]:
#replacing the NAN value usinf median()
median_value =data['Index'].median()
data3 = data.fillna(median_value)
print(median_value)

5000.5

In [100]:
data3.head(5)

   Index      Customer Id                   Company              City
0      1  EB54EF1154C3A78              Mosley-David  Lake Jeffborough
1      2  10dAcafEBbA5FcA  Horn, Shepard and Watson        Aaronville
2      3  67DAB15Ebe4BE4a               Irwin-Oneal       East Jordan
3      4  6d350C5E5eDB4EE          Richardson Group  East Kristintown
4      5  5820deAdCF23EFe              Carson-Burch       Andresmouth

### 3.Duplicate Data

In [110]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City' , 'Phone 1'])
data.head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [112]:
#shape of dataset
data.shape

(10000, 5)

In [114]:
data5 = data.drop_duplicates()
data5.shape

(10000, 5)

### Renaming Columns

In [117]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City' , 'Phone 1'])
data.head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [119]:
# renaming the column name
data.rename(columns = {'Index':'New_Index'}, inplace = True)
data.head()

,New_Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

### Data analysis in Pandas

In [127]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index'])
data.head()

   Index
0      1
1      2
2      3
3      4
4      5

In [129]:
#you can get the mean of each column value using the .mean() method.
data.mean()

Index    5000.5
dtype: float64

In [122]:
#Summary operators (mean, mode, median)

In [131]:
#A mode can be computed similarly using the .mode() method. 
data.mode()

      Index
0         1
1         2
2         3
3         4
4         5
...     ...
9995   9996
9996   9997
9997   9998
9998   9999
9999  10000

[10000 rows x 1 columns]

In [133]:
#the median of each column is computed with the .median() method
data.median()

Index    5000.5
dtype: float64

In [135]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City' , 'Phone 1'])
data.head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [137]:
data['City'].value_counts()

City
South Edwin              4
South Steve              4
Port Catherine           4
Eileenmouth              4
New Kayla                4
                        ..
East Stephaniechester    1
South Larryview          1
South Karlabury          1
Phillipsville            1
Sparkstown               1
Name: count, Length: 8910, dtype: int64

In [139]:
data['Phone 1'].value_counts()

Phone 1
043-797-5229              1
+1-614-170-0382           1
5704215740                1
+1-667-747-3352x909       1
+1-213-831-5401x075       1
                         ..
662.179.3261x17327        1
+1-286-255-6707x810       1
(003)266-6168             1
001-344-096-6424x77843    1
+1-889-682-9490x65400     1
Name: count, Length: 10000, dtype: int64

### Aggregating data with .groupby() in pandas
You can do that by combining the .groupby() method with a summary method of your choice.
when you going to apply groupby() you need to clean the data

In [142]:
data = pd.read_csv(r"C:/users/varty/downloads/Vartya.csv", usecols =['Index','Customer Id','Company' , 'City' , 'Phone 1'])
data.head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [144]:
mean_value = data['Index'].mean()
print(mean_value)

5000.5

In [146]:
data.fillna(mean_value).head()

,Index,Customer Id,Company,City,Phone 1
0,1,EB54EF1154C3A78,Mosley-David,Lake Jeffborough,043-797-5229
1,2,10dAcafEBbA5FcA,"Horn, Shepard and Watson",Aaronville,932-062-1802
2,3,67DAB15Ebe4BE4a,Irwin-Oneal,East Jordan,8352752061
3,4,6d350C5E5eDB4EE,Richardson Group,East Kristintown,302.398.3833
4,5,5820deAdCF23EFe,Carson-Burch,Andresmouth,001-184-153-9683x1497

In [152]:
data.groupby('Index').mean().head()

TypeError: agg function failed [how->mean,dtype->object]