In [20]:
# arithmetic operator

# addition
a = 17
b = 8
c = a + b
print(c)

# subraction
d = a - b
print(d)

# multiplication
e = a * b
print(e)

# division
f = a / b
print(f)

# floor divison
g = a // b
print(g)

# modulus
h = a % b
print(g)

# exponential
i = a ** b
print(i)

25
9
136
2.125
2
2
6975757441

In [34]:
# assignment operator
a = 20
b = 5

# addition assignment
a += b
print(a)

# subraction assigment
a -= b
print(a)

# multiplication assignment
a *= b
print(a)

# division operator
a /= b
print(a)

# remainder assignment
a %= b
print(a)

# exponential assignment
a **= b
print(a)

25
20
100
20.0
0.0
0.0

In [46]:
# comparison operator
a = 16
b = 32
# equal to
print(a == b)
# not equal to 
print(a != b)
# greater than
print(a > b)
# less than
print(a < b)
# greater than or equal to
print(a >= b )
# less than or equal to
print(a <= b)

False
True
False
True
False
True

In [60]:
# logical operators
# and 
print(5 < 30 and 1 < 6)

# or
print(16 < 32 or 5 < 1)

# not
print(not(5 < 30 and 1 < 6))
print(not(5 > 30 or 1 < 6))

True
True
False
False

In [72]:
# identity operator
# is 
# is not

a1 = 10
b1 = 10
c1 = 'vijay'
c2 = 'vartya vijay'
print(a1 is b1)
print(b1 is not c1)
print(c2 is b1)
print(c1 is c2)
print(c2 is c1)
print(c1 is not c2)

True
True
False
False
False
True

In [82]:
# membership operator
# in 
# not in

x = 'vartya vijay'
y = [11,12,13,14,15,16,17]
print('t' in x)
print('11' not in x)
print

True
True