In [11]:
if 10 > 2:

    print(" Ten is greater than Two!")

 Ten is greater than Two!

In [17]:
if 15 < 25:
    print("Fifteen is less than Twenty Five!")

Fifteen is less than Twenty Five!

In [19]:
# Vijay is a good boy
# This is comment

In [21]:
# This program prints Hello, world

print('Hello, world')

Hello, world

In [3]:
# creating variables

a = 10
print(a)

10

In [5]:
# examples of creating variables

In [11]:
name = 'vijay'
city = 'hyderabad'
age  = 21
print(name)
print(city)
print(age)

vijay
hyderabad
21

In [43]:
delhi = 'state'
mumbai = 'capital'
usa = 'country'
bank = 'money'
print(delhi)
print(mumbai)
print(usa)
print(bank)

state
capital
country
money

In [15]:
man = 'he'
woman = 'she'
print(man)
print(woman)

he
she

In [17]:
raju = 'boy'
rani = 'girl'
age = 21
print(raju)
print(rani)
print(age)

boy
girl
21

In [59]:
_num21A = 1234
_num22B = 4567
_num22C = 891011
print(_num21A)
print(_num22B)
print(_num22C)

1234
4567
891011

In [3]:
name_1 = 'india'
name_2 = 'america'
name_3 = 'australia'
name_4 = 'dubai'
name_5 = 'england'

print(name_1)
print(name_2)
print(name_3)
print(name_4)
print(name_5)

india
america
australia
dubai
england

In [9]:
hitman = 'rohit'
king = 'kohli'
boom = 'bumarah'

print(hitman)
print(king)
print(boom)

rohit
kohli
bumarah

In [11]:
GATE2025 = 'iit roorkie'
GATE2024 = 'iisc banglore'
GATE2023 = 'iit kharagpur'
print(GATE2025)
print(GATE2024)
print(GATE2023)

iit roorkie
iisc banglore
iit kharagpur

In [13]:
csit = 'compiler desings'
da = 'machine learning'
csit_da = 'prostats'

print(csit)
print(da)
print(csit_da)

compiler desings
machine learning
prostats

In [15]:
aim = 'iit'
specialization = 'data science'
entrance = 'gate'

print(aim)
print(specialization)
print(entrance)

iit
data science
gate

In [39]:
# mutliple variables

In [41]:
X , Y , Z = ("Cherry" , "Apple" , "Banana")

print(X)
print(Y)
print(Z)

Cherry
Apple
Banana

In [17]:
India , Delhi , Mumbai = ("country" , "capital" , "state")

print(India)
print(Delhi)
print(Mumbai)

country
capital
state

In [19]:
cse=da=ce = "Btech"
print(cse)
print(da)
print(ce)

Btech
Btech
Btech

In [21]:
elephant=tiger=lion = "forest"
print(elephant)
print(tiger)
print(lion)

forest
forest
forest

In [27]:
father=mother=childrens = "family"

print(father)
print(mother)
print(childrens)

family
family
family

In [29]:
GATE=CAT=ECET = 'entrance exams'
print(GATE)
print(CAT)
print(ECET)

entrance exams
entrance exams
entrance exams

In [31]:
y2024=y2023=y2022 = 'years'
print(y2024)
print(y2023)
print(y2022)

years
years
years

In [33]:
vijay=vamshi=raki = 'friends'
print(vijay)
print(vamshi)
print(raki)

friends
friends
friends

In [39]:
laptop=tabs=mobiles = 'gadgets'

print(laptop)
print(tabs)
print(mobiles)

gadgets
gadgets
gadgets

In [41]:
ABCD=EFGH=IJKL=MNOP = 'alphabets'

print(ABCD)
print(EFGH)
print(IJKL)
print(MNOP)

alphabets
alphabets
alphabets
alphabets