In [9]:
# creating a string with single quotes , double quotes and triple quotes
my_string1 = 'Hello, World!'
my_string2 = "python"
my_string3 = """ this is python code """
print(my_string3)

print(type(my_string1))
print(type(my_string2))
print(type(my_string3))

 this is python code
<class 'str'>
<class 'str'>
<class 'str'>

In [69]:
# string operations
# concatenation
str1 = "Hello"
str2 = "India"
result = str1 + " " + str2
print(result)

# Repetition
str1 = "train45 "
result = str1 * 30
print(result)

# indexing
my_string = "india is my country"
print(my_string[10])
print(my_string[15])
print(my_string[-7])

# slicing
my_string = "Hello, World!"
substring = my_string[3:11]
print(substring)

Hello India
train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45 train45
y
n
c
lo, Worl

In [181]:
# python format strings
name = " vijay "
age = 21
location = " mumbai "

formatted_string = "My name is %s and i am %d years old." %(name,age)
print(formatted_string)

formatted_string = "My name is {} and i am {} years old." .format(age,name)
print(formatted_string)

formatted_string = "My name is {} and i am {} years old." .format(name,age)
print(formatted_string)


formatted_string = f"My name is {name} and i am {age} years old.I am from {location}."
print(formatted_string)

My name is  vijay  and i am 21 years old.
My name is 21 and i am  vijay  years old.
My name is  vijay  and i am 21 years old.
My name is  vijay  and i am 21 years old.I am from  mumbai .

In [192]:
# length
quote ="success is a journey "
length=len(quote)
print(length)

21

In [194]:
#Lowercase/Uppercase
str1='black is unique colour'
str2=str1.upper()
print(str2)
str3=str1.lower()
print(str3)

BLACK IS UNIQUE COLOUR
black is unique colour

In [201]:
#strip():
mobile = "mobile has different application   "
f=mobile.strip()
print(f)

mobile has different application

In [203]:
# replace():
college ="ace engineering and technology"
str = college.replace("and","&")
print(str)

ace engineering & technology

In [218]:
# capitalize
name = "vartya vijay"
print(name.capitalize())

Vartya vijay

In [226]:
# casefold():

string = "InDia Is My COUntrY"

print(string)

print(string.casefold())

InDia Is My COUntrY
india is my country

In [232]:
# Center():
string = "iam an aspirant"
 
print(string.center(5))

iam an aspirant

In [242]:
# count():
my_string = "elephant"
char_count = my_string.count('e')
print(char_count)

2

In [258]:
# encode():
string = "vijayyy" 

print(string.encode('ascii', errors='ignore'))

b'vijayyy'

In [264]:
# endswith()
text = "vijay is a good boy."
result = text.endswith('boy.', 10)
print(result)

True

In [294]:
# expandtabs()

string = "t\tlove\tless"

# using expandtabs to insert spacing
print("Modified string using default spacing: ", end ="")
print(string.expandtabs(15))
print()

# using expandtabs to insert spacing
print("Modified string using less spacing: ", end ="")
print(string.expandtabs(2))
print()

# using expandtabs to insert spacing
print("Modified string using more spacing: ", end ="")
print(string.expandtabs(12))
print()

Modified string using default spacing: t              love           less

Modified string using less spacing: t love  less

Modified string using more spacing: t           love        less

In [298]:

name1 = "Vijay"
name2 = "Vamshi"
numeric_str = "12345"
movie = "Arjun Reddy"
quote = "   dont interrupt and be calm.   "

# capitalize()
print(name1.capitalize())

# casefold()
print(movie.casefold())
# center(width, fillchar)
print(name1.center(20, '-'))

# count(substring, start, end)
print(movie.count('e'))  
# encode(encoding, errors)
print(name1.encode('utf-8'))  
# endswith(suffix, start, end)
print(quote.endswith('.')) 

# expandtabs(tabsize)
tab_str = "Hello\tWorld"
print(tab_str.expandtabs(4))  

# find(substring, start, end)
print(movie.find('Reddy'))  

# format(*args, **kwargs)
print("Hello, {}!".format(name1))  

# format_map(mapping)
data = {'name': 'Vamshi'}
print("Hello, {name}!".format_map(data))  

# index(substring, start, end)
print(movie.index('Reddy'))  

# isalnum()
print(name1.isalnum())  

# isalpha()
print(name1.isalpha()) 
# isascii()
print(name1.isascii())  

# isdecimal()
print(numeric_str.isdecimal()) 
# isdigit()
print(numeric_str.isdigit()) 

# isidentifier()
print("variable1".isidentifier())  

# islower()
print(movie.islower())  

# isnumeric()
print(numeric_str.isnumeric()) 

# isprintable()
print(quote.isprintable())  

# isspace()
print("   ".isspace()) 

# istitle()
print(movie.istitle()) 

# isupper()
print(name1.isupper()) 

# join(iterable)
print("-".join(["Hello", "World"]))  

# ljust(width, fillchar)
print(name1.ljust(20, '-'))  

# lower()
print(name1.lower())  

# lstrip(chars)
print(quote.lstrip())  

# maketrans(x, y, z)
trans_table = str.maketrans("V", "B")
print(name1.translate(trans_table))  

# partition(separator)
print(movie.partition(' '))  

# removeprefix(prefix)
print(movie.removeprefix('Arjun '))  

# removesuffix(suffix)
print(movie.removesuffix(' Reddy')) 

# replace(old, new, count)
print(movie.replace('Reddy', 'Singh'))  

# rfind(substring, start, end)
print(movie.rfind('e'))  

# rindex(substring, start, end)
print(movie.rindex('e'))  

# rjust(width, fillchar)
print(name1.rjust(20, '-')) 

# rsplit(separator, maxsplit)
print(quote.rsplit(',', 1)) 

# rstrip(chars)
print(quote.rstrip())  

# split(separator, maxsplit)
print(movie.split()) 

# splitlines(keepends)
multiline_str = "Hello\nWorld"
print(multiline_str.splitlines())  

# startswith(prefix, start, end)
print(movie.startswith('Arjun')) 

# strip(chars)
print(quote.strip()) 

# swapcase()
print(name1.swapcase()) 
# title()
print(movie.title())  

# upper()
print(name1.upper())  

# zfill(width)
print(numeric_str.zfill(10))

Vijay
arjun reddy
-------Vijay--------
1
b'Vijay'
False
Hello   World
6
Hello, Vijay!
Hello, Vamshi!
6
True
True
True
True
True
True
False
True
True
True
True
False
Hello-World
Vijay---------------
vijay
dont interrupt and be calm.
Bijay
('Arjun', ' ', 'Reddy')
Reddy
Arjun
Arjun Singh
7
7
---------------Vijay
['   dont interrupt and be calm.   ']
   dont interrupt and be calm.
['Arjun', 'Reddy']
['Hello', 'World']
True
dont interrupt and be calm.
vIJAY
Arjun Reddy
VIJAY
0000012345

In [309]:
#python tuples
my_tuple=(1,"vijay","je","banana , car")

#passing single value in tuple
single_val_tuple=("vijay devarakonda",)
#accessing tuples
print(my_tuple[1])
print(my_tuple[-2])
my_tuple[1:4]

vijay
je

('vijay', 'je', 'banana , car')

In [311]:
#Tuple operations
#1.concatenation
tuple_1=("vijay","vamshi","rakesh")
tuple_2=(1,2,3,4,5,6,7,8,9,10)
print(tuple_1 + tuple_2)

#2.repetition
print(tuple_1 * 5)
print(tuple_2 * 10)

('vijay', 'vamshi', 'rakesh', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
('vijay', 'vamshi', 'rakesh', 'vijay', 'vamshi', 'rakesh', 'vijay', 'vamshi', 'rakesh', 'vijay', 'vamshi', 'rakesh', 'vijay', 'vamshi', 'rakesh')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [324]:
#tuple methods
#1.count
my_tuple=("name","simplicity","age","gender","quality","career")
print(my_tuple.count("quality"))

#2.index
my_tuple=("name","simplicity","age","gender","quality","career")
print(my_tuple.index("quality"))

#3.sorted
a=(1,12,15,892,1876,18127)
x=sorted(a)
print(x)

#4.length
y=len(a)
print(y)

#5.slicing
slice=my_tuple[1:7]
print(slice)

#6.max
values=(2134242,323,452,63,233,46,743)
print(max(values))

#7.min
print(min(values))

1
4
[1, 12, 15, 892, 1876, 18127]
6
('simplicity', 'age', 'gender', 'quality', 'career')
2134242
46